{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
    <title>Premios Platzi App</title>

    <!--TRAER ARCHIVOS ESTATICOS DESDE LA CARPETA STATICA DE LA APLICACIÓN-->
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
    <link rel="stylesheet" href="{% static 'polls/detail.css' %}">
    <title>{{question.question_text}}</title>
</head>
<body>


<form action="{% url 'polls:vote' question.id %}" method="post">
    <!--  EVITAR ATAQUES DE CSRF EN FORM DE TIPO POST    -->
    {% csrf_token %}
    <fieldset>
        <legend>
            <h1>{{question.question_text}}</h1>
            {% if error_message %}
            <p><strong>{{error_message}}</strong></p>
            {% endif %}

            {%for choice in question.choice_set.all%}
            <input
                    type="radio"
                    name="choice"
                    id="choice {{forloop.counter}}"
                    value="{{choice.id}}"
            >
            <label for="choice {{forloop.counter}}">
                {{choice.choice_text}}
            </label>
            <br>

            {% comment %}
            forloop.counter es un atajo para obtener el número (posición) del for de arriba
            {% endcomment %}


            {%endfor%}
        </legend>
    </fieldset>
    <input type="submit" value="Votar">
</form>


</body>
</html>